<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Which One Old (WOO)</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" th:href="@{/home/assets/css/main.css}" />
</head>
<body>
	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Header -->    
		<header id="header">
			<div class="logo">
				<span class="icon fa-diamond"></span>
			</div>
			<div class="content">
				<div class="inner">
					<h1>Which One Old (WOO)</h1>
					<p>
						Select Old Picture. Let's Go to Demo <br />  <a href="https://github.com/EemreYyalcin/Projects/tree/master/WhichOneOld(woo)">Open Source Codes Here</a>
					</p>
				</div>
			</div> 
			<nav>
				<ul>
					<li><a href="/woo/category">Demo</a></li>
					<li><a href="/woo/login">Login</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
		</header>

	</div>

	<!-- BG -->
	<div id="bg"></div>

	<!-- Scripts -->
	<script th:src="@{/home/assets/js/jquery.min.js}"></script>
	<script th:src="@{/home/assets/js/skel.min.js}"></script>
	<script th:src="@{/home/assets/js/util.js}"></script>
	<script th:src="@{/home/assets/js/main.js}"></script>

</body>
</html>
